# ===============
# CARDS DB
# ===============
CARDS_DB_NAME=cards
CARDS_DB_USER=postgres
CARDS_DB_PASSWORD=postgres
CARDS_DATABASE_ADMIN_URL=postgresql+asyncpg://postgres:postgres@cards-db:5432/cards

CARDS_APP_USER=app_user
CARDS_APP_PASSWORD=app_user
CARDS_DATABASE_USER_URL=postgresql+asyncpg://app_user:app_user@cards-db:5432/cards

# ===============
# PACKS DB
# ===============
PACKS_DB_NAME=packs
PACKS_DB_USER=postgres
PACKS_DB_PASSWORD=postgres
PACKS_DATABASE_ADMIN_URL=postgresql+asyncpg://postgres:postgres@packs-db:5432/packs

PACKS_APP_USER=app_user
PACKS_APP_PASSWORD=app_user
PACKS_DATABASE_USER_URL=postgresql+asyncpg://app_user:app_user@packs-db:5432/packs

# ===============
# AUTH DB
# ===============
AUTH_DB_NAME=auth
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DATABASE_ADMIN_URL=postgresql+asyncpg://postgres:postgres@auth-db:5432/auth

AUTH_APP_USER=app_user
AUTH_APP_PASSWORD=app_user
AUTH_DATABASE_USER_URL=postgresql+asyncpg://app_user:app_user@auth-db:5432/auth

# ===============
# GAME REDIS
# ===============
REDIS_PASSWORD=redis_password
REDIS_HOST=game-redis
REDIS_PORT=6379

# =====================
# APISIX
# =====================
APISIX_ADMIN_KEY=admin
APISIX_VIEWER_KEY=viewer
