.team-grid {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 12px auto;
  width: fit-content;
}

.team-box {
  width: 160px;
  height: 160px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.team-title {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin-bottom: 8px;
}

.team-players {
  font-size: 12px;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  width: 100%;
}


.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 2px 4px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.player-name {
  text-align: left;
  flex: 8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.player-score {
  text-align: right;
  flex: 2;
  white-space: nowrap;
  margin-left: 5%;
  max-width: 100%;
}

.empty {
  opacity: 0.3;
  text-align: center;
}

.player.turn {
  font-weight: 600;
  color: #e8e6f0;
}

.player.me {
  border: 1px solid var(--primary-focus);
  background: rgba(30, 48, 30, 0.25);
}
