body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

#result {
    margin-top: 15px;
    text-align: center;
}